<h1>{{title}}</h1> 
<h4>Sub-legenda</h4>

<p>Total de nomes : {{nomes.length}}</p>
<p>Nome Principal : {{nomePrincipal.nome}}</p>

<div *ngIf="nomes.length < 4">
  <input type="text"/>
  <button>Adicionar</button>
</div>

<ul>
  <li *ngFor="let item of nomes" style="color: red;">
    {{item.nome}} - {{item.idade}} anos -- {{item.getTipo()}}
  </li>
</ul>

<p *ngIf="nomes.length > 1"> Tem mais de um nome</p>

<div *ngIf="showAviso">
  <p>{{avisoMsg}}</p>
</div>

<input type="text" value="{{nomePrincipal.nome}}"/><br/>
<input type="text" [value]="nomePrincipal.nome" [disabled]="disableInput"/><br/>

<img src="{{imagem}}"/><br/>
<img [src]="imagem"/><br/>