/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

body {

}

header {
    height: fit-content;
    background-color: darkblue;
}

.menu {
    width: 500px;
    height: 55px;
    margin: auto;
    display: flex;
    background: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: none;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover {
    border-bottom: 2px solid #FFF;
}

.sobre {
    margin: auto;
    max-width: 900px;
    display: flex;
    background-color: none;
}

.foto {
    align-items: center;
    margin: auto;
    padding: 25px;
}

.eu {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.biografia {
    max-width: 700px;
    height:fit-content ;
    background-color: none;
    color: #FFF;
    padding-top: 20px;
}

.biografia h1{
    font-size: 40px;
}

.biografia h1, 
.biografia p{
    padding: 10px;
}

.biografia p{
    font-size: 12px;
    line-height: 20px;
}

.ultimasDoBlog {
    margin: auto;
    max-width: 400px;
}

.ultimasDoBlog ul,
.ultimasDoBlog li{
    list-style: none;
}

.ultimasDoBlog .itemBlog,
.ultimasDoBlog h1{
   padding: 12px;
}

.ultimasDoBlog h1{
    font-size: 28px;
 }

.ultimasDoBlog .itemBlog:hover {
   background-color: azure;
   border-radius: 15px;
}

.ultimasDoBlog .verTudo{
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    color: blue;
 }

.ultimasDoBlog p{
    padding-top: 10px;
    font-size: 12px;
    line-height: 20px;
}
.ultimasDoBlog h2 a{
    color: #000;
    text-transform: none;
    text-decoration: none;
    font-size: 20px;
 }
 .ultimasDoBlog h2 a:hover{
    color: blue;
 }

.hidden {
    display: none;
}
